
    <header class="masthead text-center d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="bg-txt">
              <strong>Northern California's premiere snowmobile rental destination.</strong>
            </h1>
           
          </div>
          <div class="col-lg-8 mx-auto">
           <!--  <p class="text-faded mb-5">NORTHERN CALIFORNIA's premiere snowmobile rental destination.</p> -->
           <br />
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="/rentals">Rent Your Snowmobile Now</a>
          </div>
        </div>
      </div>
    </header>



    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading home-hd-txt">Bear Valley Snowmobile is the only place where you can rent snowmobiles in the Lake Alpine and Spicer Sno-Parks by the US Forest Service.</h2>
            <hr class="light my-4">
           
            </div>

          </div>


<!--                 <div class="row img-row">
                   
                    <div class="col-md-4">
                        <h4>RENTAL TRAIL UPDATE</h4>
                        <ul>
                            <li>Alpine Trail – CLOSED</li>
                            <li>Spicer Trail – CLOSED</li>
                            <li>Bear Valley Trail – CLOSED</li>
                            <li>Bear Valley Access Trail – CLOSED</li>
                        </ul>
                    </div>

                     <div class="col-md-4 mx-auto">
                        <img src="/img/homepage/news_3.png" alt="" style="height:150px;width:450px">
                    </div>
                </div>

                <div class="row img-row">
                    <div class="col-md-4">
                        <img src="/img/homepage/news_2.gif" alt="" style="height:150px;width:450px">
                    </div>
                    <div class="col-md-4 mx-auto">
                        <h4>Located just off HWY 4's Scenic By-Way</h4>
                        <p>
A couple hours from the San Francisco bay area, the small rural town of Bear Valley is a unique snowmobile-only wintertime community.</p>
                    </div>
                </div>

                 <div class="row img-row">
                   
                    <div class="col-md-4">
                        <h4>We are back where we belong, the Bear Valley Transportation Center</h4>
                        <p>One block from the Highway 4 turnoff, at the corner of Bear Valley Road and Quaking Aspen Road, with free parking and easy access.</p>
                    </div>

                     <div class="col-md-4 mx-auto">
                        <img src="/img/homepage/news_1.jpg" alt="" style="height:150px;width:450px">
                    </div>
                </div> -->

        </div>
      </div>
    </section>

    <%- partial('_partial/services') %>


<section id="testimonials" class="bg-primary">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading"><strong>Everyone Loves Bear Valley Snowmobile</strong></h2>
             <h4 class="mb-4">Don't just take our word for it, take a look at what our customers have to say.</h4>

            <hr class="my-4 light">


            <%- partial('_partial/testimonial') %>

        </div>

    </div>
  </div>




</section>

    
 

    <section class="bg-bg">
      <div class="container text-center">
        <h2 class="mb-4 bg-txt"><strong>Snow is coming - Opening for 2018 soon!</strong></h2>
        <a class="btn btn-primary btn-xl sr-button" href="http://startbootstrap.com/template-overviews/creative/">Rent your snowmobile now</a>
      </div>
    </section>


