    <section id="contact" class="bg-dark">
      <div class="container mb-3">
        


       


        <div class="row">
          <div class="col-lg-3 ml-auto">
            <ul class="nav flex-column ft-nav">
              
              <li><a class="btn btn-primary" href="/rentals">Rentals</a></li>
               <li><a class="btn btn-primary" href="/driving-directions">Driving Directions</a></li>
                <li><a class="btn btn-primary" href="/about-bear-valley/">About Bear Valley</a></li>
            </ul>
          </div>
          <div class="col-lg-3 mr-auto">
            <ul class="nav flex-column ft-nav">
<!--               <li><a class="btn btn-primary" href="/photos">Photos</a></li>
 -->              <li><a class="btn btn-primary" href="/videos">Videos</a></li>
              <li><a class="btn btn-primary" href="/how-green-are-we">How Green Are We?</a></li>
              <li><a class="btn btn-primary" href="/safety-tips">Safety Tips</a></li>
            </ul>
          </div>
        

        <div class="col-lg-3 mr-auto">
          <div class="mt-5 d-lg-none"></div>
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i> 
            <p>Bear Valley Snowmobile<br />
            132 Bear Valley Rd <br />
            Bear Valley, CA 95223<br />
            209.753.2323<br />
            </p>


        </div>

        <div class="col-lg-3 mr-auto">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
           <p>877.HWY4.FUN<br />
            info@bvsnowmobile.com</p>
            <p>
              <ul class="nav social-nav">
                <li><a class="fb" href="https://www.facebook.com/BearValleySnowmobile" target="_blank"><i class="fa fa-3x fa-facebook-square"></i></a></li>
                <li><a class="yt" href="https://www.youtube.com/user/bvsnowmobile/videos" target="_blank"><i class="fa fa-3x fa-youtube-square"></i></a></li>
                <li><a class="tw" href="https://twitter.com/bvsnowmobile" target="_blank"><i class="fa fa-3x fa-twitter-square"></i></a></li>
                <li><a class="gp" href="https://plus.google.com/106492513295353593104/" target="_blank"><i class="fa fa-3x fa-google-plus-square"></i></a></li>
              </ul>
            </p>

        </div>


        </div>



       <!--  <hr class="spacing"> -->


    <!--      <div class="row">
          <div class="col-lg-4 ml-auto">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i> 
            <p>Bear Valley Snowmobile<br />
            132 Bear Valley Rd <br />
            Bear Valley, CA 95223<br />
            209.753.2323<br />
            </p>
          </div>
          <div class="col-lg-4 mr-auto">
           <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
           <p>877.HWY4.FUN<br />
            info@bvsnowmobile.com</p>
            <p>
              <ul class="nav">
                <li><a href="https://www.facebook.com/BearValleySnowmobile" target="_blank"><i class="fa fa-3x fa-facebook-square"></i></a></li>
                <li><a href="https://www.youtube.com/user/bvsnowmobile/videos" target="_blank"><i class="fa fa-3x fa-youtube-square"></i></a></li>
                <li><a href="https://twitter.com/bvsnowmobile" target="_blank"><i class="fa fa-3x fa-twitter-square"></i></a></li>
                <li><a href="https://plus.google.com/106492513295353593104/" target="_blank"><i class="fa fa-3x fa-google-plus-square"></i></a></li>
              </ul>
            </p>
          </div>
        </div> -->
      

      </div>
    </section>