<div>
	<h4>FIND US ON THE CORNER OF BEAR VALLEY RD AND QUAKING ASPEN RD, ONE BLOCK FROM THE HIGHWAY 4 TURNOFF</h4>

	<img src="/img/homepage/news_1.jpg" alt="" class="img-responsive">
	<div class="mt-4"><%- partial('_partial/trail_update') %></div>	
</div>