          <div class="card col-md-6 mt-2">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="10000">
         <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
      
        </ol>
        <div class="w-100 carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="bg"></div>
            <div class="carousel-caption">
              <div class="row">
                <div class="col-lg-12 text-center">
                  <img src="img/homepage/testimonials/1.png" alt="" class="rounded-circle">
                
                  <p>At last, I found a sport my teenagers and I both enjoy!</p>
                 
                  <small class="smallest mute">-K.C. San Jose, CA</small>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="bg"></div>
            <div class="carousel-caption">
              <div class="row">
               <div class="col-lg-12 text-center">
                  <img src="img/homepage/testimonials/2.jpg"  alt="" class="rounded-circle">
                
                  <p>What an amazing experience.</p>
                  
                  <small class="smallest mute">-D.B. Castro Valley, CA</small>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="bg"></div>
            <div class="carousel-caption">
              <div class="row">
               <div class="col-lg-12 text-center">
                  <img src="img/homepage/testimonials/3.png" alt="" class="rounded-circle">
                
                  <p>
                  It was awesome because I am 76 years old. </p>
                  <small class="smallest mute">-R.F.P. San Jose, CA</small>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="bg"></div>
            <div class="carousel-caption">
              <div class="row">
                <div class="col-lg-12 text-center">
                  <img src="img/homepage/testimonials/4.png" alt="" class="rounded-circle">
                
                  <p>
                Beautiful trail and the snowmobiles ran perfectly.</p>
                  <small class="smallest mute">-J.K. Alameda, CA</small>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="bg"></div>
            <div class="carousel-caption">
              <div class="row">
                <div class="col-lg-12 text-center">
                  <img src="img/homepage/testimonials/5.jpg" alt="" class="rounded-circle">
                
                
                  <p>A yearly tradition. Always have fun.</p>
                  <small class="smallest mute">-S.G. Hayward, CA</small>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="bg"></div>
            <div class="carousel-caption">
              <div class="row">
                <div class="col-lg-12 text-center">
                  <img src="img/homepage/testimonials/6.jpg" alt="" class="rounded-circle">
                
                
                  <p>We'll definitely be back!</p>
                  <small class="smallest mute">-S.D. Santa Cruz, CA</small>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="bg"></div>
            <div class="carousel-caption">
              <div class="row">
                <div class="col-lg-12 text-center">
                  <img src="img/homepage/testimonials/7.jpg" alt="" class="rounded-circle">
                
                
                  <p>Fun and exciting. Would highly recommend it!</p>
                  <small class="smallest mute">-S.F. San Ramon, CA</small>
                </div>
              </div>
            </div>
          </div>


          <div class="carousel-item">
            <div class="bg"></div>
            <div class="carousel-caption">
              <div class="row">
                <div class="col-lg-12 text-center">
                  <img src="img/homepage/testimonials/8.jpg" alt="" class="rounded-circle">
                
                
                  <p>It was better than Disneyland.</p>
                  <small class="smallest mute">-H.R. Turlock, CA</small>
                </div>
              </div>
            </div>
          </div>

           <div class="carousel-item">
            <div class="bg"></div>
            <div class="carousel-caption">
              <div class="row">
                <div class="col-lg-12 text-center">
                  <img src="img/homepage/testimonials/10.jpg" alt="" class="rounded-circle">
                
                
                  <p>The best time I've ever had in snow!</p>
                  <small class="smallest mute">-J.K. Mountain View, CA</small>
                </div>
              </div>
            </div>
          </div>
          




        </div>

  
      </div>
    </div>