
<div class="container">
  <div class="at-grid" data-column="2">
    <div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar"><img src="/img/adria_mooney_web_developer.jpeg"/></div>
        <div class="at-user__name">Adria Mooney</div>
        <div class="at-user__title">Web Development</div>
      </div>
    </div>
    <div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar"><img src="/img/james_dipadua_data_scientist.jpg"/></div>
        <div class="at-user__name">James DiPadua</div>
        <div class="at-user__title">Data Science</div>
      </div>
    </div>
  </div>
</div>