          <div class="card col-md-6 mt-2">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="10000">
         <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>

      
        </ol>
        <div class="w-100 carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="bg"></div>
            <div class="carousel-caption">
              <div class="row">
                <div class="col-lg-12 text-center">
                 <!--  <img src="img/homepage/testimonials/1.png" alt="" class="rounded-circle"> -->
                
                  <p>Great work and very fast too. Outstanding and up to date coder using best practices when most others don't... I'll definitely be working with them again! Thank you! </p>
                 
                  <small class="smallest mute">-webgoose.com</small>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="bg"></div>
            <div class="carousel-caption">
              <div class="row">
               <div class="col-lg-12 text-center">
                 <!--  <img src="img/homepage/testimonials/2.jpg"  alt="" class="rounded-circle"> -->
                
                  <p>I just wanted to say a big THANK YOU for all of the excellent work you've done. I appreciate the effort that you've put into the project, and I'm very happy with how everything turned out.</p>
                  
                  <small class="smallest mute">-Brian, Osmofy.com</small>
                </div>
              </div>
            </div>
          </div>

           <div class="carousel-item">
            <div class="bg"></div>
            <div class="carousel-caption">
              <div class="row">
               <div class="col-lg-12 text-center">
             <!--      <img src="img/homepage/testimonials/2.jpg"  alt="" class="rounded-circle"> -->
                
                  <p>It was a real pleasure working with TBD Labs. They know their stuff, they are clear and prompt in communications, quick to understand your needs, and just get the job done, and done well!</p>
                  
                  <small class="smallest mute">-Northwest Digital Design</small>
                </div>
              </div>
            </div>
          </div>

          




        </div>

  
      </div>
    </div>