<section id="services">
      <!-- <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">At Your Service</h2>
            <hr class="my-4">
          </div>
        </div>
      </div> -->
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="service-box mt-5 mx-auto">
              <p>
<!--                   <i class="fa fa-4x fa-snowflake-o text-primary mb-3 sr-icons"></i>
 -->                  <img src="img/homepage/news_1.jpg" alt="" class="img-responsive">
              </p>
              <h3 class="mb-3">At the Bear Valley Transportation Center</h3>
              <p class=" mb-0">
One block from the Highway 4 turnoff, at the corner of Bear Valley Road and Quaking Aspen Road, with free parking and easy access.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box mt-5 mx-auto">
              <p>
<!-- 
 -->                  <img src="img/homepage/news_2.gif" alt="" class="img-responsive">
              </p>
              <h3 class="mb-3">Located just off HWY 4's Scenic By-Way</h3>
              <p class="mb-0">
                    
A couple hours from the San Francisco bay area, the small rural town of Bear Valley is a unique snowmobile-only wintertime community.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box mt-5 mx-auto">
              <p>
                  <!-- <i class="fa fa-4x fa-snowflake-o text-primary mb-3 sr-icons"></i> -->
                  <img src="img/homepage/news_3.jpg" alt="" class="img-responsive">
              </p>
              <h3 class="mb-3">RENTAL TRAIL UPDATE</h3>
              <p class="mb-0">
                <%- partial('_partial/trail_update') %>
               </p>
            </div>
          </div>
         <!--  <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Made with Love</h3>
              <p class="text-muted mb-0">You have to make your websites with love these days!</p>
            </div>
          </div> -->
        </div>
      </div>
    </section>
