  <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>we do web development and data science</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <!-- <p class="text-faded mb-5">We help you with web development and data science so you can grow your business.</p> -->
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">We've got what you need!</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">We specialize in creating websites and applications using modern technologies. We can build from scratch, or help you update or maintain your current system.  We can also put your valuable data to work to grow your business. Our team is small, experienced and 100% US based. </p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#contact">Get Started!</a>
          </div>
        </div>
      </div>
    </section>

    <section id="testimonials" class="bg-dark">
    <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading text-white"><strong>Everyone Loves TBD Labs</strong></h2>


              <hr class="my-4 light">


              <%- partial('_partial/testimonial') %>

          </div>

      </div>
    </div>


</section>

    <section id="team" class="bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-white">Our Team</h2>
            <hr class="light">
            <%- partial('_partial/team') %>
        </div>
      </div>
    </div>
    </section>

 
 

    <section id="contact" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="my-4">
            <p class="mb-5">Ready to start your next project with us? <br>Send us an email and we will get back to you as soon as possible!</p>
          </div>
        </div>
        <div class="row">

          <div class="col-lg-12 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:tbdlabs@gmail.com">tbdlabs@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
   
