<%- partial('_partial/head') %>
<body id="page-top">
  
      <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
      
        <section id="main"><%- body %></section>
  

  <%- partial('_partial/scripts') %>
</body>
</html>