
<div class="text-center d-flex page-masthead"></div>

<div class="container">



<section class="page">

  <div class="main">
	<div class="row">
		<div class="col-md-8 content"> <%- page.content %> </div>
	</div>
   <!--  <h1><%- page.title %></h1> -->
   
  </div>
  </section>
</div>
